<!DOCTYPE html>
<html>
  <head>
    <title>tinycms</title>
    <meta name="description" content="tinycms">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">  
  </head>
  <body>
    <h1>
      tinycms
    </h1>
    
    <ul id="menu">
      <li>
        <h3>
          <a href="/">All Contacts</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="https://docs.google.com/spreadsheets/d/12k6eMQAWQZLmJ9QqEwIPqO6076epl_wddeecRl1O2nE/edit?usp=sharing" target="_blank">Spreadsheet</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="/new">Add Contact</a>
        </h3>
      </li>
    </ul>

    {{{ body }}}    
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>